---
import { Picture } from 'astro:assets';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
import { SiteTitle, SiteDescription } from '~/config';
import img from '~/assets/undraw_dog_c7i6.svg';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
	<div class="flex flex-col items-center gap-4 xl:flex-row">
		<Picture class="lg:max-w-md" src={img} formats={['avif', 'webp']} alt="a dog" loading="eager" />
		<div>
			<h1>Hello there! I am Zhuo👋</h1>
			<p>
				这个网站用来展示我的一些技术文章和项目。我是一名前端工程师。我喜欢折腾一些新技术，写一些有趣的代码。也喜欢分享我的一些经验和技术。如果你对我的文章感兴趣，欢迎联系我。
			</p>
			<ul class="list-disc">
				<li>
					我从2018年开始进行前端开发，主要使用Vue.js和React.js。
				</li>
				<li>
					我对Node.js有一定的了解，我也会写一些后端代码Python和Java。
				</li>
				<li>
					前端3d开发是我擅长的领域，我会使用Three.js和Babylon.js。
				</li>
				<li>
					网站中分享了一些我开发的3d项目和一些技术文章。
				</li>
				<li>如果您有网站开发需求 或者 有技术问题需要咨询，欢迎联系我。</li>
	
				<li>
					我的邮箱: 990681509@qq.com
				</li>
				<li> 
					在浩瀚的互联网中，相遇是一种缘分。希望我们可以成为朋友。
				</li>
			</ul>
		</div>
	</div>
</MarkdownLayout>
